.main {
  color: rgb(104, 102, 102);
  padding: 30px 10px 50px 10px;
}

.box {
  min-width: 800px;
  max-width: 1600px;
  margin: 0 auto;
}

.main_image{
  display:block;
  margin: 0 auto;
  width: 50%;
}
